/* Fade-in animation */
.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

/* Project buttons */
.project-btns {
  margin-top: 10px;
}

.project-btns a {
  display: inline-block;
  margin: 5px;
  padding: 8px 15px;
  background: #00c6ff;
  color: black;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.project-btns a:hover {
  background: #0072ff;
  color: white;
}
